[*.cs]

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1707: Remove the underscores from namespace name 'it_company'.
dotnet_diagnostic.CA1707.severity = none
